.selects {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
  .selects {
    flex-wrap: wrap;
    &:nth-child(1) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .selects {
    flex-direction: column;
  }
}
